*{
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
}
/*Top section*/

.header h3{
    font-size: 24px;
    color: #f9faf8;
}
.header{
    padding: 16px;
    display: flex;
    align-items: center;
    margin-left: 150px;
}
.nav-bar{
    display: flex;
    list-style-type: none;
}
li a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}
.top-section{
    background-color: #1F2937;
}
.hero h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.hero p{
   font-size: 18px;
   color: #e5e7eb;
}

/*Quote section*/
.quote-section{
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quote-section p{
    font-size: 36px;
    font-style: italic;
}
.quote-section h4{
    display: flex;
    justify-content: flex-end;
}
.quote{
    padding: 100px 250px 100px 250px;
}